
$font-stack: 'Mada', sans-serif;
$header-text: 'Mada', sans-serif;
$main-button-color: #716259;
// $main-button-color: #F9F1EC;
// $main-button-color: #007AFF;
$stop-button: #FF0068;
$border-color: #979797;
$border-color: #979797;
// $color-theme: #272821;
// $color-theme: #595756;
// $color-theme: rgb(197, 179, 143);
// $color-theme: #C7B6AC;
// $color-theme: #032965;
$color-theme: #005cec;

// $thumb-slider-color: #7B604E;
$thumb-slider-color: #E8E6E8;
$track-slider-color: #707476;
// $thumb-slider-color: #707476;
// font-family: 'Madurai', sans-serif;

%label-text-extender{
    font-family: $font-stack;
    font-size: 10px;
    font-weight: 700;
  }

// Basic selectors ========================================================================================
body {
    font-family: $font-stack;
    font-weight: 200;
    background-color: $color-theme;
    // color: #D5D5D5;
    color: white;
}



// ID Selectors ========================================================================================
#myChart {
    // background-color: #ffffffb5;
    margin-top: 6em;
}

#main-header {
    font-weight: 400;
    border-bottom: solid grey 1px;
}

// Header menu dropdown
#dropdownMenu2 { 
    color: white;
    background-color: $color-theme;
    border: none;
    position: absolute;
    right: 10%;
    padding-bottom: 0em;
    top: -1.2em;
}

#dropdownMenu2:focus { 
    box-shadow: none;
}

#sliderData1 {
    padding: 3em 0 0 0;
}

#sliderData2, #sliderData3 {
    padding: 2em 0 0 0;
}

#sit-btn-container {
    margin: 5em auto 0 auto; 
}

#sit-btn {
    background-color: $main-button-color;
    border: solid #00000054 2px;
    color: #DDE1E1;
}

#back-btn {
    background-color: #716259;
    border: solid #00000054 2px;

    margin-top: 5em;
}

#user-login, #user-sign-up {
    background-color: #716259;
    border: none;
    border: solid #00000054 2px;
}

#user-progress {
    background-color: #1484A4;
}

#user-logout {
    background-color: #716259;
}

#duration-label {
    display: block;
}



// These numberOption ids correspond to the slider labels. They each needed their own separate positioning to line up properly
#noneOption {
    position: relative;
    left: 1em;
}

#toneOption {
    position: relative;
    right: 0.8em;
}

#blockOption {
    position: relative;
    right: 0.3em;
}

#oneOption {
    position: relative;
    right: 0.2em;
}

#twoOption {
    position: relative;
    right: 0.46em;
}

#threeOption {
    position: relative;
    right: 0.7em;
}

#fourOption {
    position: relative;
    right: .9em;}

#fiveOption {
    position: relative;
    right: 1em;
}

#fiveMinOption {
    position: relative;
    right: 0.1em;
}

#tenMinOption {
    position: relative;
    right: 0.1em;
}

#fifteenMinOption {
    position: relative;
    right: 0.1em;
}

#twentyMinOption {
    position: relative;
    right: 0.17em;
}

#twentyFiveMinOption {
    position: relative;
    right: 0.26em;
}

#thirtyMinOption {
    position: relative;
    right: 0.3em;
}
// End of slider label positioning



#testing-width {
    width: 80%;
    margin: auto;

}

h1#sit-header-title {
    font-weight: 200;
    margin-bottom: auto;
    font-family: 'Mada', sans-serif;
    color: white;
}

#menu1, #menu2, #menu3, #menuProgress, #menuLogOutOption {
    padding: 1.25rem 0 1.5rem 1.5rem;
    font-weight: 200;
    border: solid #979797 1px;
    background-color: #1F6FA3;
    color: white;
    text-shadow: -1px 2px #00000069;
}

#menu1:hover, #menu2:hover, #menu3:hover, #menuProgress:hover, #menuLogOutOption:hover, {
    // font-weight: 400;
    background-color: rgb(27, 90, 133);
    transition: background-color .1s ease-in;
}

#stop-btn {
    background-color: #da3d3d;
    border: none;
    animation-duration: .5s;
    animation-name: slideInFromRight;
}

#pause-btn {
    // background-color: #FF0068;
    border: none;
    animation-duration: .5s;
    animation-name: slideInFromLeft;
    background-color: white;
    color: black;
}

#countdownTime {
    font-size: 6em;
    margin: 1em 0 0 0;
    color: white;
    animation-duration: .5s;
    animation-name: slideInFromLeft;

}

#menu-options {
    padding: 0;
    box-shadow: 1px 14px 72px #333d4e, 13px 3px 25px #0d0d0d;
}

#user-login, #user-sign-up, #user-logout {
    width: auto;
}

#nav-bar-container {
    box-shadow: -1px 2px #00000033;
}

#slider1, #slider2, #slider3 {
    box-shadow: -1px 1.5px #00000033;
}

// Class Selectors ========================================================================================
.dropdown {
    margin: 0 0 0 -9%;
}

.dropdown-menu {

    position: absolute;
    top: 0.7em;
    left: -9em;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
}

.btn.btn-primary {
    width: 13em;
}

.rangeSliderLabels {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
}

.sliderListItemsDuration {
    list-style: none;
    margin: 0 1em 0 -2em;
    font-size: 14px;
}

.sliderListItemsInterval {
    list-style: none;
    margin: 0 0.4em 0 -3.9em;
    font-size: 14px;
}

.sliderListItemsSound {
    list-style: none;
    margin: 0 0 0 -2.7em;
    font-size: 14px;
}

.slider-titles {
    margin-bottom: 0em;
    font-weight: 700;
    font-size: 14px;
    padding-bottom: 0em;
    text-shadow: -2px 2px #00000033;
}

.closeBtn {
    font-weight: 200;
    border: solid #00000054 2px;

}

.modal-content {
    background-color: $color-theme;
}

.modal-body {
    border-bottom: solid black 1px;
    border-top: solid black 1px;
    font-size: 1.2em;
}

.hide {
    display: none;
}


// Range Slider Stylings ========================================================================================

// This code hides the original slider
input[type=range] {
    -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
    width: 98%; /* Specific width is required for Firefox. */
    background: transparent; /* Otherwise white in Chrome */
    margin: 0 0 1em 0;
  }
  
  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
  }
  
  input[type=range]:focus {
    outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
  }
  
  input[type=range]::-ms-track {
    width: 100%;
    cursor: pointer;
  
    /* Hides the slider so custom styles can be added */
    background: transparent; 
    border-color: transparent;
    color: transparent;
  }

// This code restyles the thumb of the slider:
/* Special styling for WebKit/Blink */
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    // border: 1px solid #D8D8D8;
    height: 26px;
    width: 26px;
    border-radius: 40px;
    background: $thumb-slider-color;
    cursor: pointer;
    margin-top: -11px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
    box-shadow: 1px 1px 10px #333d4e, 0px 0px 1px #0d0d0d; /* Add cool effects to your sliders! */
  }
  
  /* All the same stuff for Firefox */
  input[type=range]::-moz-range-thumb {
    // box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 26px;
    width: 26px;
    border-radius: 40px;
    background: $thumb-slider-color;
    cursor: pointer;
  }
  
  /* All the same stuff for IE */
  input[type=range]::-ms-thumb {
    // box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 26px;
    width: 26px;
    border-radius: 40px;
    background: $thumb-slider-color;
    cursor: pointer;
  }

// This code styles the range slider's track

input[type=range]::-webkit-slider-runnable-track {
    width: 80%;
    height: 3px;
    cursor: pointer;
    // box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: $track-slider-color;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
  }
  
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #367ebd;
  }
  
  input[type=range]::-moz-range-track {
    width: 80%;
    height: 3px;
    cursor: pointer;
    // box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: $track-slider-color;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
  }
  
  input[type=range]::-ms-track {
    width: 80%;
    height: 3px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    border-width: 16px 0;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    background: #2a6495;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    // box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: $track-slider-color;
  }
  input[type=range]::-ms-fill-upper {
    background: $track-slider-color;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    // box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  }
  input[type=range]:focus::-ms-fill-upper {
    background: #367ebd;
  }

// Animations ========================================================================================================

@keyframes slideInFromRight {
    from {
      margin-left: 100%;
    //   width: 30%; 
    }
  
    to {
      margin-left: 0%;
    //   width: 13em;
    }
  }

 

// Make countdown timer slide in
//   @keyframes slideInFromLeft {
//     from {
//       margin-left: 100%;
//     //   width: 30%; 
//     }
  
//     to {
//       margin-left: 0%;
//     //   width: 13em;
//     }
//   }



// Media Query Breakpoints
// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    #main-header {
        font-weight: 400;
        // margin: 0 0 0 1%;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    #main-header {
        h1 {
            font-weight: 200;
            font-size: 70px;
        }
    }
}

// Large devices (desktops, 992px and up)
// Needs broad menu

@media (min-width: 992px) {  

    #main-header {
        h1 {
            font-weight: 200;
            font-size: 80px;
        }
    }
    #sit-btn {
        font-size: 1.3em;
    }

    #dropdownMenu2 {
        // display: none;
    }
}


// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 
    
    #main-header {
        #nav-bar-container{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            
            h1 {
                font-weight: 200;
                font-size: 110px;
            }
        }
    }

    #sit-btn {
        font-size: 1.3em;
        background-color: #716259;
        color: #DDE1E1;
    }

    #dropdownMenu2 {
        // display: none;
    }

}